*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#121212;
    font-family:Arial, sans-serif;
}


.calculator{
    width:350px;
    background:#1e1e1e;
    padding:20px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.4);
}


#display{
    width:100%;
    height:70px;
    border:none;
    border-radius:10px;
    font-size:2rem;
    text-align:right;
    padding:10px;
    margin-bottom:15px;
    background:#2a2a2a;
    color:white;
}


.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}


button{
    height:60px;
    border:none;
    border-radius:12px;
    font-size:1.3rem;
    cursor:pointer;
    transition:.2s;
}


button:hover{
    transform:scale(1.05);
}


button:active{
    transform:scale(.95);
}